*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

button,
input,
select {
  font: inherit;
}

button {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}
